In [34]:
import json
import requests
import pandas as pd

In [47]:
url = "https://api.data.abs.gov.au/data/ABS,C21_G04_LGA,1.0.0/....2?dimensionAtObservation=AllDimensions&format=csv"

In [48]:
response = requests.get(url)
print(response.url)

https://api.data.abs.gov.au/data/ABS,C21_G04_LGA,1.0.0/....2?dimensionAtObservation=AllDimensions&format=csv

In [49]:
age_gender_response = requests.get(url)

In [50]:
df1 = pd.read_csv("https://api.data.abs.gov.au/data/ABS,C21_G04_LGA,1.0.0/....2?dimensionAtObservation=AllDimensions&format=csv")
df1.head()

,DATAFLOW,AGEINGP,SEXP,REGION,REGION_TYPE,STATE,TIME_PERIOD,OBS_VALUE
0,ABS:C21_G04_LGA(1.0.0),24,3,24210,LGA2021,2,2021,1459
1,ABS:C21_G04_LGA(1.0.0),58,2,24410,LGA2021,2,2021,764
2,ABS:C21_G04_LGA(1.0.0),60,1,25250,LGA2021,2,2021,759
3,ABS:C21_G04_LGA(1.0.0),32,1,25430,LGA2021,2,2021,89
4,ABS:C21_G04_LGA(1.0.0),60,3,25710,LGA2021,2,2021,970

In [51]:
df1.describe()

               SEXP        REGION    STATE  TIME_PERIOD      OBS_VALUE
count  25092.000000  25092.000000  25092.0      25092.0   25092.000000
mean       2.000000  24233.134146      2.0       2021.0    1532.482186
std        0.816513   2354.023765      0.0          0.0    7942.806563
min        1.000000  20110.000000      2.0       2021.0       0.000000
25%        1.000000  22250.000000      2.0       2021.0     127.000000
50%        2.000000  24290.000000      2.0       2021.0     421.000000
75%        3.000000  26170.000000      2.0       2021.0    1123.000000
max        3.000000  29799.000000      2.0       2021.0  365239.000000

In [60]:
print(df.duplicated())

0          False
1          False
2          False
3          False
4          False
           ...
1094274     True
1094275     True
1094276     True
1094277     True
1094278     True
Length: 1094279, dtype: bool

In [52]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25092 entries, 0 to 25091
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     25092 non-null  object
 1   AGEINGP      25092 non-null  object
 2   SEXP         25092 non-null  int64
 3   REGION       25092 non-null  int64
 4   REGION_TYPE  25092 non-null  object
 5   STATE        25092 non-null  int64
 6   TIME_PERIOD  25092 non-null  int64
 7   OBS_VALUE    25092 non-null  int64
dtypes: int64(5), object(3)
memory usage: 1.5+ MB

In [53]:
#CSV DHS File

df2 = pd.read_csv("https://www.dhhs.vic.gov.au/ncov-covid-cases-by-lga-source-csv")
df2.head()

,diagnosis_date,Postcode,acquired,Localgovernmentarea
0,2020-03-11,3217,Travel overseas,Greater Geelong (C)
1,2020-03-08,3942,Travel overseas,Mornington Peninsula (S)
2,2020-03-09,3206,Travel overseas,Port Phillip (C)
3,2020-08-01,3754,Contact with a confirmed case,Whittlesea (C)
4,2020-03-01,3802,Travel overseas,Casey (C)

In [54]:
df2.describe()

           Postcode
count  1.094279e+06
mean   3.273654e+03
std    3.036205e+02
min    3.000000e+03
25%    3.060000e+03
50%    3.150000e+03
75%    3.350000e+03
max    3.999000e+03

In [55]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094279 entries, 0 to 1094278
Data columns (total 4 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   diagnosis_date       1094279 non-null  object
 1   Postcode             1094279 non-null  int64
 2   acquired             1094279 non-null  object
 3   Localgovernmentarea  1094279 non-null  object
dtypes: int64(1), object(3)
memory usage: 33.4+ MB

In [56]:
#Display everything 
pd.set_option('display.max_colwidth', None)

In [53]:
#Merge Data Together - DHS - ABS
#Post code - Age - Gender

In [58]:
df3 = df1.merge(df2, how='right')
print(df3)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False

In [59]:
#Merging Datasets
#postcode - for each what is their population 




and for each postcode what is their population, age, number of cases