In [1]:
import json
import requests
import pandas as pd

In [15]:
#API - Population 
url = "https://api.data.abs.gov.au/data/ABS,C21_G04_LGA,1.0.0/....2?dimensionAtObservation=AllDimensions&format=csv"

In [3]:
#API - Population
response = requests.get(url)
print(response.url)

https://api.data.abs.gov.au/data/ABS,C21_G04_LGA,1.0.0/....2?dimensionAtObservation=AllDimensions&format=csv

In [21]:
#Put ABS data into DataFrame 

abs_data = pd.read_csv('https://api.data.abs.gov.au/data/ABS,C21_G04_LGA,1.0.0/....2?dimensionAtObservation=AllDimensions&format=csv')
print(abs_data)

                     DATAFLOW AGEINGP  SEXP  REGION REGION_TYPE  STATE  \
0      ABS:C21_G04_LGA(1.0.0)      24     3   24210     LGA2021      2
1      ABS:C21_G04_LGA(1.0.0)      58     2   24410     LGA2021      2
2      ABS:C21_G04_LGA(1.0.0)      60     1   25250     LGA2021      2
3      ABS:C21_G04_LGA(1.0.0)      32     1   25430     LGA2021      2
4      ABS:C21_G04_LGA(1.0.0)      60     3   25710     LGA2021      2
...                       ...     ...   ...     ...         ...    ...
25087  ABS:C21_G04_LGA(1.0.0)      38     2   22410     LGA2021      2
25088  ABS:C21_G04_LGA(1.0.0)      11     2   22490     LGA2021      2
25089  ABS:C21_G04_LGA(1.0.0)      33     3   23430     LGA2021      2
25090  ABS:C21_G04_LGA(1.0.0)   35_39     2   23810     LGA2021      2
25091  ABS:C21_G04_LGA(1.0.0)       8     2   23940     LGA2021      2

       TIME_PERIOD  OBS_VALUE
0             2021       1459
1             2021        764
2             2021        759
3             2021         89
4             2021        970
...            ...        ...
25087         2021        115
25088         2021        174
25089         2021       2128
25090         2021       2448
25091         2021         34

[25092 rows x 8 columns]

In [22]:
#filter items from abs_data
abs_data1=abs_data.query("STATE=='2'")
print(abs_data1)

Empty DataFrame
Columns: [DATAFLOW, AGEINGP, SEXP, REGION, REGION_TYPE, STATE, TIME_PERIOD, OBS_VALUE]
Index: []

In [36]:
abs_data.loc[abs_data["STATE"]==2]

,DATAFLOW,AGEINGP,SEXP,REGION,REGION_TYPE,STATE,TIME_PERIOD,OBS_VALUE
0,ABS:C21_G04_LGA(1.0.0),24,3,24210,LGA2021,2,2021,1459
1,ABS:C21_G04_LGA(1.0.0),58,2,24410,LGA2021,2,2021,764
2,ABS:C21_G04_LGA(1.0.0),60,1,25250,LGA2021,2,2021,759
3,ABS:C21_G04_LGA(1.0.0),32,1,25430,LGA2021,2,2021,89
4,ABS:C21_G04_LGA(1.0.0),60,3,25710,LGA2021,2,2021,970
...,...,...,...,...,...,...,...,...
25087,ABS:C21_G04_LGA(1.0.0),38,2,22410,LGA2021,2,2021,115
25088,ABS:C21_G04_LGA(1.0.0),11,2,22490,LGA2021,2,2021,174
25089,ABS:C21_G04_LGA(1.0.0),33,3,23430,LGA2021,2,2021,2128
25090,ABS:C21_G04_LGA(1.0.0),35_39,2,23810,LGA2021,2,2021,2448
25091,ABS:C21_G04_LGA(1.0.0),8,2,23940,LGA2021,2,2021,34

In [44]:
#ABS clean data - API - Total population 

abs_data_clean= pd.DataFrame(abs_data)

print(abs_data_clean.groupby(["OBS_VALUE"]).sum())

           SEXP    REGION  STATE  TIME_PERIOD
OBS_VALUE
0           721  11180352    774       782127
3           156   2308532    168       169764
4            81   1250782     90        90945
5            93   1378832    100       101050
6            80   1123082     80        80840
...         ...       ...    ...          ...
229396        3     27070      2         2021
243901        3     23270      2         2021
271057        3     22750      2         2021
292011        3     27260      2         2021
365239        3     21610      2         2021

[4453 rows x 4 columns]

In [48]:
abs_data['STATE'].sum()

50184

In [5]:
#CSV1 - LGA 
df1 = pd.read_csv('LGA_2020_VIC2.csv')
print(df1)

       MB_CODE_2016  LGA_CODE_2020                           LGA_NAME_2020  \
0       20000009499          29499                 No usual address (Vic.)
1       20000010000          20110                              Alpine (S)
2       20000021000          20110                              Alpine (S)
3       20000022000          20110                              Alpine (S)
4       20000023000          20110                              Alpine (S)
...             ...            ...                                     ...
85009   27000003777          29799  Migratory - Offshore - Shipping (Vic.)
85010   27000004777          29799  Migratory - Offshore - Shipping (Vic.)
85011   27000005777          29799  Migratory - Offshore - Shipping (Vic.)
85012   28000000778          29799  Migratory - Offshore - Shipping (Vic.)
85013   29000000779          29799  Migratory - Offshore - Shipping (Vic.)

       STATE_CODE_2016 STATE_NAME_2016  AREA_ALBERS_SQKM
0                    2        Victoria            0.0000
1                    2        Victoria            0.0127
2                    2        Victoria            0.0127
3                    2        Victoria            0.0105
4                    2        Victoria            0.0105
...                ...             ...               ...
85009                2        Victoria            0.0000
85010                2        Victoria            0.0000
85011                2        Victoria            0.0000
85012                2        Victoria            0.0000
85013                2        Victoria            0.0000

[85014 rows x 6 columns]

In [7]:
#drop unwnated items from df1
df1.drop(columns=["MB_CODE_2016","STATE_CODE_2016","STATE_NAME_2016"], inplace= True)
print(df1)

       LGA_CODE_2020                           LGA_NAME_2020  AREA_ALBERS_SQKM
0              29499                 No usual address (Vic.)            0.0000
1              20110                              Alpine (S)            0.0127
2              20110                              Alpine (S)            0.0127
3              20110                              Alpine (S)            0.0105
4              20110                              Alpine (S)            0.0105
...              ...                                     ...               ...
85009          29799  Migratory - Offshore - Shipping (Vic.)            0.0000
85010          29799  Migratory - Offshore - Shipping (Vic.)            0.0000
85011          29799  Migratory - Offshore - Shipping (Vic.)            0.0000
85012          29799  Migratory - Offshore - Shipping (Vic.)            0.0000
85013          29799  Migratory - Offshore - Shipping (Vic.)            0.0000

[85014 rows x 3 columns]

In [8]:
df1.describe()

       LGA_CODE_2020  AREA_ALBERS_SQKM
count   85014.000000      85014.000000
mean    23904.760357          2.675978
std      2117.225178         27.492022
min     20110.000000          0.000000
25%     22170.000000          0.021900
50%     23670.000000          0.034800
75%     25430.000000          0.068400
max     29799.000000       5172.342600

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85014 entries, 0 to 85013
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   LGA_CODE_2020     85014 non-null  int64
 1   LGA_NAME_2020     85014 non-null  object
 2   AREA_ALBERS_SQKM  85014 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.9+ MB

In [11]:
#Importing CSV 2 file - Covid 
#CSV DHS File

df2 = pd.read_csv("https://www.dhhs.vic.gov.au/ncov-covid-cases-by-lga-source-csv")
df2.head()

,diagnosis_date,Postcode,acquired,Localgovernmentarea
0,2020-03-11,3217,Travel overseas,Greater Geelong (C)
1,2020-03-08,3942,Travel overseas,Mornington Peninsula (S)
2,2020-03-09,3206,Travel overseas,Port Phillip (C)
3,2020-08-01,3754,Contact with a confirmed case,Whittlesea (C)
4,2020-03-01,3802,Travel overseas,Casey (C)

In [12]:
df2.describe()

           Postcode
count  1.094279e+06
mean   3.273654e+03
std    3.036205e+02
min    3.000000e+03
25%    3.060000e+03
50%    3.150000e+03
75%    3.350000e+03
max    3.999000e+03

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094279 entries, 0 to 1094278
Data columns (total 4 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   diagnosis_date       1094279 non-null  object
 1   Postcode             1094279 non-null  int64
 2   acquired             1094279 non-null  object
 3   Localgovernmentarea  1094279 non-null  object
dtypes: int64(1), object(3)
memory usage: 33.4+ MB

In [14]:
#Display everything 
pd.set_option('display.max_colwidth', None)

In [19]:
#Merge df1 with df2 to get new data

In [ ]:
# Count total male / female - API