In [1]:
import json
import requests
import pandas as pd
from io import StringIO
import numpy as np

In [2]:
#API - Population 
url = "https://api.data.abs.gov.au/data/C21_G04_LGA/....2"

In [3]:
headers = {"Accept": "application/vnd.sdmx.data+csv;labels=both"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data)
df.head()

,DATAFLOW,AGEINGP: Age,SEXP: Sex,REGION: Region,REGION_TYPE: Region Type,STATE: State,TIME_PERIOD: Time Period,OBS_VALUE
0,ABS:C21_G04_LGA(1.0.0),24: 24,3: Persons,24210: Manningham,LGA2021: Local Government Areas (2021),2: Victoria,2021,1459
1,ABS:C21_G04_LGA(1.0.0),58: 58,2: Females,24410: Maroondah,LGA2021: Local Government Areas (2021),2: Victoria,2021,764
2,ABS:C21_G04_LGA(1.0.0),60: 60,1: Males,25250: Moreland,LGA2021: Local Government Areas (2021),2: Victoria,2021,759
3,ABS:C21_G04_LGA(1.0.0),32: 32,1: Males,25430: Mount Alexander,LGA2021: Local Government Areas (2021),2: Victoria,2021,89
4,ABS:C21_G04_LGA(1.0.0),60: 60,3: Persons,25710: Nillumbik,LGA2021: Local Government Areas (2021),2: Victoria,2021,970

In [4]:
df["Region ID"]=df["REGION: Region"].map(lambda x:x.split(":")[0])
df.head()

,DATAFLOW,AGEINGP: Age,SEXP: Sex,REGION: Region,REGION_TYPE: Region Type,STATE: State,TIME_PERIOD: Time Period,OBS_VALUE,Region ID
0,ABS:C21_G04_LGA(1.0.0),24: 24,3: Persons,24210: Manningham,LGA2021: Local Government Areas (2021),2: Victoria,2021,1459,24210
1,ABS:C21_G04_LGA(1.0.0),58: 58,2: Females,24410: Maroondah,LGA2021: Local Government Areas (2021),2: Victoria,2021,764,24410
2,ABS:C21_G04_LGA(1.0.0),60: 60,1: Males,25250: Moreland,LGA2021: Local Government Areas (2021),2: Victoria,2021,759,25250
3,ABS:C21_G04_LGA(1.0.0),32: 32,1: Males,25430: Mount Alexander,LGA2021: Local Government Areas (2021),2: Victoria,2021,89,25430
4,ABS:C21_G04_LGA(1.0.0),60: 60,3: Persons,25710: Nillumbik,LGA2021: Local Government Areas (2021),2: Victoria,2021,970,25710

In [5]:
df["Region Name"]=df["REGION: Region"].map(lambda x:x.split(":")[1])
df.head()

,DATAFLOW,AGEINGP: Age,SEXP: Sex,REGION: Region,REGION_TYPE: Region Type,STATE: State,TIME_PERIOD: Time Period,OBS_VALUE,Region ID,Region Name
0,ABS:C21_G04_LGA(1.0.0),24: 24,3: Persons,24210: Manningham,LGA2021: Local Government Areas (2021),2: Victoria,2021,1459,24210,Manningham
1,ABS:C21_G04_LGA(1.0.0),58: 58,2: Females,24410: Maroondah,LGA2021: Local Government Areas (2021),2: Victoria,2021,764,24410,Maroondah
2,ABS:C21_G04_LGA(1.0.0),60: 60,1: Males,25250: Moreland,LGA2021: Local Government Areas (2021),2: Victoria,2021,759,25250,Moreland
3,ABS:C21_G04_LGA(1.0.0),32: 32,1: Males,25430: Mount Alexander,LGA2021: Local Government Areas (2021),2: Victoria,2021,89,25430,Mount Alexander
4,ABS:C21_G04_LGA(1.0.0),60: 60,3: Persons,25710: Nillumbik,LGA2021: Local Government Areas (2021),2: Victoria,2021,970,25710,Nillumbik

In [6]:
df[["3: Persons","2: Females","1:Males"]] = df['SEXP: Sex'].str.extract(r'\["(?:([^"]*)",")?(\d+)(?:","(\d+))?"',expand=False)
df.head()

,DATAFLOW,AGEINGP: Age,SEXP: Sex,REGION: Region,REGION_TYPE: Region Type,STATE: State,TIME_PERIOD: Time Period,OBS_VALUE,Region ID,Region Name,3: Persons,2: Females,1:Males
0,ABS:C21_G04_LGA(1.0.0),24: 24,3: Persons,24210: Manningham,LGA2021: Local Government Areas (2021),2: Victoria,2021,1459,24210,Manningham,NaN,NaN,NaN
1,ABS:C21_G04_LGA(1.0.0),58: 58,2: Females,24410: Maroondah,LGA2021: Local Government Areas (2021),2: Victoria,2021,764,24410,Maroondah,NaN,NaN,NaN
2,ABS:C21_G04_LGA(1.0.0),60: 60,1: Males,25250: Moreland,LGA2021: Local Government Areas (2021),2: Victoria,2021,759,25250,Moreland,NaN,NaN,NaN
3,ABS:C21_G04_LGA(1.0.0),32: 32,1: Males,25430: Mount Alexander,LGA2021: Local Government Areas (2021),2: Victoria,2021,89,25430,Mount Alexander,NaN,NaN,NaN
4,ABS:C21_G04_LGA(1.0.0),60: 60,3: Persons,25710: Nillumbik,LGA2021: Local Government Areas (2021),2: Victoria,2021,970,25710,Nillumbik,NaN,NaN,NaN

In [7]:
#drop unwnated items from df

df.drop(columns=["DATAFLOW","AGEINGP: Age","REGION_TYPE: Region Type","STATE: State","TIME_PERIOD: Time Period","3: Persons","2: Females","1:Males"], inplace= True)
df.head()

    SEXP: Sex          REGION: Region  OBS_VALUE Region ID       Region Name
0  3: Persons       24210: Manningham       1459     24210        Manningham
1  2: Females        24410: Maroondah        764     24410         Maroondah
2    1: Males         25250: Moreland        759     25250          Moreland
3    1: Males  25430: Mount Alexander         89     25430   Mount Alexander
4  3: Persons        25710: Nillumbik        970     25710         Nillumbik

In [9]:

ABS_Clean=df[df["SEXP: Sex"] == '3: Persons'] 
ABS_Clean.head()

,SEXP: Sex,REGION: Region,OBS_VALUE,Region ID,Region Name
0,3: Persons,24210: Manningham,1459,24210,Manningham
4,3: Persons,25710: Nillumbik,970,25710,Nillumbik
5,3: Persons,25900: Port Phillip,2467,25900,Port Phillip
6,3: Persons,26260: Southern Grampians,852,26260,Southern Grampians
9,3: Persons,29399: Unincorporated Vic,7,29399,Unincorporated Vic

In [10]:
#rename value

ABS_Clean.rename(columns={'OBS_VALUE': 'Population'}, inplace=True)
ABS_Clean.head()

c:\Users\user\anaconda3\envs\bootcamp\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,SEXP: Sex,REGION: Region,Population,Region ID,Region Name
0,3: Persons,24210: Manningham,1459,24210,Manningham
4,3: Persons,25710: Nillumbik,970,25710,Nillumbik
5,3: Persons,25900: Port Phillip,2467,25900,Port Phillip
6,3: Persons,26260: Southern Grampians,852,26260,Southern Grampians
9,3: Persons,29399: Unincorporated Vic,7,29399,Unincorporated Vic

In [11]:
#drop unwnated items from df2

ABS_Clean.drop(columns=["SEXP: Sex","REGION: Region"], inplace= True)
ABS_Clean.head()

c:\Users\user\anaconda3\envs\bootcamp\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

   Population Region ID          Region Name
0        1459     24210           Manningham
4         970     25710            Nillumbik
5        2467     25900         Port Phillip
6         852     26260   Southern Grampians
9           7     29399   Unincorporated Vic

In [12]:
ABS_Clean.to_csv('ABS_Clean')

In [22]:
ABS_Clean=pd.read_csv("ABS_CLEAN")
ABS_Clean.head()

   ID  Population  Region ID          Region Name
0   0        1459      24210           Manningham
1   4         970      25710            Nillumbik
2   5        2467      25900         Port Phillip
3   6         852      26260   Southern Grampians
4   9           7      29399   Unincorporated Vic

In [24]:
ABS_Clean = ABS_Clean.apply(lambda x: "{:},".format(x))

In [ ]:
#API - Population
#response = requests.get(url)
#print(response.url)

:

In [ ]:
#Put ABS data into DataFrame 

#abs_data = pd.read_csv('https://api.data.abs.gov.au/data/ABS,C21_G04_LGA,1.0.0/....2?dimensionAtObservation=AllDimensions&format=csv')
#print(abs_data)
#abs_data.head()

:

In [ ]:
#API
#abs_data.loc[abs_data["STATE"]==2]

:

In [ ]:
#ABS clean data - API - Total population 

#abs_data_clean= pd.DataFrame(abs_data)

#print(abs_data_clean.groupby(["OBS_VALUE"]).sum())

:

In [ ]:
#api
#abs_data['STATE'].sum()

:

In [ ]:
#CSV0 - Adding new CSV - LGA - Population

:

In [ ]:
#CSV0
#df = pd.read_csv('LGAVICPOP/2021Census_G01_VIC_LGA.csv')
#print(df)

:

In [ ]:
#clean data - dropping unwanted items from dataframe

#population_LGA = df[['LGA_CODE_2021','Tot_P_P']].copy()
#print(population_LGA)

:

In [ ]:
#Providing the total sum of population 
#population_LGA['Tot_P_P'].sum()

:

In [ ]:
#CSV1 - LGA - CODE
df1 = pd.read_csv('LGA_2020_VIC2.csv')
df1.head()

:

In [ ]:
#drop unwnated items from df1
df1.drop(columns=["MB_CODE_2016","STATE_CODE_2016","STATE_NAME_2016"], inplace= True)
df1.head()

:

In [ ]:
#df1.describe()

:

In [ ]:
#df1.info()

:

In [ ]:
#Importing CSV 2 file - Covid 
#CSV DHS File

#df2 = pd.read_csv("https://www.dhhs.vic.gov.au/ncov-covid-cases-by-lga-source-csv")
#df2.head()

:

In [ ]:
#df2["year"]=df2["diagnosis_date"].map(lambda x:x[0:4])

:

In [ ]:
#df2.head()

:

In [ ]:
#df2.info()

:

In [ ]:
#df2.describe()

:

In [ ]:
#Display everything 
pd.set_option('display.max_colwidth', None)

:

In [ ]:
#Merge df1 with df2 to get new data - Merge on LGA_CODE_2021

population_LGA

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

newdf = df1.merge(df2, how='right')

:

In [ ]:
# Count total male / female - API

:

:

:

:

:

:

:

: